<div class="email-right-box ml-0 ml-sm-4 ml-sm-0">
    <div class="toolbar mb-4" role="toolbar">
        {% for group in toolbarGroups %}
        <div class="btn-group mb-1">
            {% for button in group.buttons %}
            <button type="button" class="btn btn-dark {% if button.dropdown %}dropdown-toggle{% endif %}" {% if button.dropdown %}data-toggle="dropdown"{% endif %}>
                <i class="{{ button.icon }}"></i> {% if button.label %}{{ button.label }}{% endif %}
                {% if button.dropdown %}<b class="caret m-l-5"></b>{% endif %}
            </button>
            {% if button.dropdown %}
            <div class="dropdown-menu">
                {% for item in button.dropdownItems %}
                <a class="dropdown-item" href="{{ item.url }}">{{ item.label }}</a>
                {% endfor %}
            </div>
            {% endif %}
            {% endfor %}
        </div>
        {% endfor %}
    </div>
    <div class="compose-content">
        <form action="{{ formAction }}">
            <div class="form-group">
                <input type="text" class="form-control bg-transparent" placeholder=" To:">
            </div>
            <div class="form-group">
                <input type="text" class="form-control bg-transparent" placeholder=" Subject:">
            </div>
            <div class="form-group">
                <textarea id="email-compose-editor" class="textarea_editor form-control bg-transparent" rows="15" placeholder="Enter text ..."></textarea>
            </div>
        </form>
        <h5 class="mb-4"><i class="fa fa-paperclip"></i> Attachment</h5>
        <form action="#" class="d-flex flex-column align-items-center justify-content-center">
            <div class="fallback w-100">
                <input type="file" class="dropify" data-default-file="" />
            </div>
        </form>
    </div>
    <div class="text-left mt-4 mb-5">
        <button class="btn btn-primary btn-sl-sm mr-3" type="button"><span class="mr-2"><i class="fa fa-paper-plane"></i></span> Send</button>
        <button class="btn btn-dark btn-sl-sm" type="button"><span class="mr-2"><i class="fa fa-times" aria-hidden="true"></i></span> Discard</button>
    </div>
</div>