<div class="card nestable-cart">
    <div class="card-title">
        <h4>{{ knob.title }}</h4>
    </div>
    <div class="card-body text-center">
        <input class="knob" 
               data-width="{{ knob.width }}" 
               data-min="{{ knob.min }}" 
               data-max="{{ knob.max }}" 
               data-displayPrevious="{{ knob.displayPrevious }}" 
               data-bgColor="{{ knob.bgColor }}" 
               data-fgColor="{{ knob.fgColor }}" 
               data-thickness="{{ knob.thickness }}" 
               value="{{ knob.value }}">
    </div>
</div>