<div class="skill-bar">
    <h6>{{ skillName }}
        <span class="pull-right">{{ percentage }}%</span>
    </h6>
    <div class="progress">
        <div class="progress-bar {{ color }} progress-animated" style="width: {{ percentage }}%; height: {{ height }};" role="progressbar">
            <span class="sr-only">{{ srText }}</span>
        </div>
    </div>
</div>