<button type="{{ type }}" class="btn btn-success {{ classes }}">
    {{ label }}
    {% if icon %}
        <span class="btn-icon-{{ iconPosition }}"><i class="{{ icon }}"></i></span>
    {% endif %}
</button>
