<div class="email-left-box px-0 mb-5">
    <div class="p-0">
        <a href="{{ composeUrl }}" class="btn btn-primary btn-block">Compose</a>
    </div>
    <div class="mail-list mt-4">
        {% for item in mailItems %}
        <a href="{{ item.url }}" class="list-group-item {% if item.active %}active{% endif %}">
            <i class="{{ item.icon }} font-18 align-middle mr-2"></i> {{ item.label }}
            {% if item.badge %}
            <span class="badge badge-{{ item.badge.type }} badge-sm float-right">{{ item.badge.count }}</span>
            {% endif %}
        </a>
        {% endfor %}
    </div>
    <div class="intro-title d-flex justify-content-between">
        <h5>Categories</h5>
        <i class="icon-arrow-down" aria-hidden="true"></i>
    </div>
    <div class="mail-list mt-4">
        {% for category in categories %}
        <a href="{{ category.url }}" class="list-group-item">
            <span class="{{ category.iconClass }}"><i class="fa fa-circle" aria-hidden="true"></i></span>
            {{ category.label }}
        </a>
        {% endfor %}
    </div>
</div>