<div class="media">
    <img class="mr-3" src="{{ imageSrc }}" alt="{{ altText }}">
    <div class="media-body">
        <h5 class="mt-0">{{ heading }}</h5>
        <p>{{ description }}</p>
        <div class="media mt-3">
            <a class="pr-3" href="#">
                <img src="{{ nestedImageSrc }}" alt="{{ nestedAltText }}">
            </a>
            <div class="media-body">
                <h5 class="mt-0">{{ nestedHeading }}</h5>
                <p>{{ nestedDescription }}</p>
            </div>
        </div>
    </div>
</div>