<div class="stat-widget-one">
    <div class="stat-icon dib">
        <i class="{{ widget.icon }} {{ widget.iconColor }} {{ widget.borderColor }}"></i>
    </div>
    <div class="stat-content dib">
        <div class="stat-text">{{ widget.text }}</div>
        <div class="stat-digit">{{ widget.value }}</div>
    </div>
</div>