<div class="stat-widget-two">
    <div class="stat-content">
        <div class="stat-text">{{ widget.text }}</div>
        <div class="stat-digit">{{ widget.value }}</div>
    </div>
    <div class="progress">
        <div class="progress-bar {{ widget.progressBarColor }} w-{{ widget.progressWidth }}" role="progressbar" aria-valuenow="{{ widget.progressWidth }}" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
</div>