<div class="stat-widget-five">
    <div class="stat-icon">
        <i class="{{ widget.icon }} {{ widget.backgroundColor }}"></i>
    </div>
    <div class="stat-content">
        <div class="stat-heading {{ widget.headingColor }}">{{ widget.heading }}</div>
        <div class="stat-text">{{ widget.text }}</div>
    </div>
</div>