<div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" id="{{ id }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{ label }}
    </button>
    <div class="dropdown-menu" aria-labelledby="{{ id }}">
        {% for item in items %}
        <a class="dropdown-item" href="{{ item.href }}">{{ item.label }}</a>
        {% if item.divider %}
        <div class="dropdown-divider"></div>
        {% endif %}
        {% endfor %}
    </div>
</div>