<div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" id="{{ id }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{ label }}
    </button>
    <div class="dropdown-menu" aria-labelledby="{{ id }}">
        {% for group in groups %}
        <h5 class="dropdown-header">{{ group.header }}</h5>
        {% for item in group.items %}
        <a class="dropdown-item" href="{{ item.href }}">{{ item.label }}</a>
        {% endfor %}
        {% endfor %}
    </div>
</div>